In [76]:
import pandas as pd
import os

def read_csv_files(directory):
    # Dictionary to store predictions from each file
    all_predictions = {}
    labels = None

    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            file_path = os.path.join(directory, filename)
            df = pd.read_csv(file_path)
            df.columns = ["label", "prediction"]
            
            # If labels are not set, use the labels from the first file
            if labels is None:
                labels = df['label']
            
            # Use the filename (without .csv) as the column name for predictions
            column_name = os.path.splitext(filename)[0]
            all_predictions[column_name] = df.set_index('label')['prediction']

    # Create the final dataframe
    result_df = pd.DataFrame(index=labels)
    result_df.index.name = 'label'

    # Add prediction columns
    for column_name, predictions in all_predictions.items():
        result_df[column_name] = predictions

    # Reset index to make 'label' a column
    result_df = result_df.reset_index()

    return result_df

In [78]:
# Usage
directory = "./pred/da03d3b5-3952-4599-ac36-ef289b462117/"

df = read_csv_files(directory)
df.head()

,label,pred_axis0_0,pred_axis1_1,pred_axis0_1,pred_axis1_0,pred_axis0_2,pred_axis1_2
0,d7cd090ca8,196.000000,193.600006,192.399994,188.300003,195.100006,193.600006
1,a82c3c2965,168.399994,166.199997,166.100006,166.000000,167.000000,167.100006
2,feaec917f3,198.000000,198.100006,200.500000,202.000000,201.699997,198.899994
3,7081e041aa,198.600006,199.699997,200.899994,202.199997,198.000000,204.300003
4,5dd1c0c131,185.899994,183.899994,186.300003,181.500000,181.300003,181.500000

In [79]:
colnames = list(df.iloc[:,0].values)
df = df.iloc[:,1:].T
df.columns = colnames
df.head()

,d7cd090ca8,a82c3c2965,feaec917f3,7081e041aa,5dd1c0c131,22e989cc9b,9bc08e060d,faf967f332,8c9b119aa2,f27da128ab,6eb0a13a01,64d33d4c9c,eda8dfa0ed
pred_axis0_0,196.000000,168.399994,198.000000,198.600006,185.899994,158.300003,164.600006,176.800003,183.000000,181.000000,172.800003,189.300003,177.500000
pred_axis1_1,193.600006,166.199997,198.100006,199.699997,183.899994,161.500000,164.800003,176.600006,189.899994,185.699997,170.100006,186.800003,174.699997
pred_axis0_1,192.399994,166.100006,200.500000,200.899994,186.300003,157.199997,166.100006,176.500000,185.100006,179.000000,175.699997,186.500000,179.500000
pred_axis1_0,188.300003,166.000000,202.000000,202.199997,181.500000,161.699997,165.699997,177.899994,189.899994,178.199997,170.100006,185.399994,175.699997
pred_axis0_2,195.100006,167.000000,201.699997,198.000000,181.300003,163.199997,165.899994,178.500000,185.000000,173.699997,172.800003,184.899994,179.399994

In [80]:
# Compute the mean and median for these columns
mean_values = df[columns_to_average].mean()
median_values = df[columns_to_average].median()

# Combine the results into a single DataFrame
results_df = pd.DataFrame({
    'Mean': mean_values,
    'Median': median_values
})

print("Mean and Median values of selected columns:")
print(results_df)

Mean and Median values of selected columns:
                  Mean      Median
d7cd090ca8  193.166669  193.600006
a82c3c2965  166.800001  166.599998
feaec917f3  199.866666  199.699997
7081e041aa  200.616666  200.299995
5dd1c0c131  183.399999  182.699997
22e989cc9b  160.966665  161.599998
9bc08e060d  165.866669  165.799995
faf967f332  177.233335  176.950005
8c9b119aa2  186.949999  186.950005
f27da128ab  179.699999  179.800003
6eb0a13a01  172.416669  172.800003
64d33d4c9c  186.933332  186.650002
eda8dfa0ed  176.749997  176.599998

In [81]:
df.describe()

,d7cd090ca8,a82c3c2965,feaec917f3,7081e041aa,5dd1c0c131,22e989cc9b,9bc08e060d,faf967f332,8c9b119aa2,f27da128ab,6eb0a13a01,64d33d4c9c,eda8dfa0ed
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,193.166669,166.800001,199.866666,200.616666,183.399999,160.966665,165.866669,177.233335,186.949999,179.699999,172.416669,186.933332,176.749997
std,2.698642,0.914328,1.780635,2.362555,2.303908,2.672575,1.250067,0.799164,2.954824,3.930395,2.104674,1.755755,2.439467
min,188.300003,166.000000,198.000000,198.000000,181.300003,157.199997,164.600006,176.500000,183.000000,173.699997,170.100006,184.899994,173.699997
25%,192.699997,166.125004,198.300003,198.875004,181.500000,159.100002,165.025002,176.650005,185.025002,178.399998,170.775005,185.674995,174.949997
50%,193.600006,166.599998,199.699997,200.299995,182.699997,161.599998,165.799995,176.950005,186.950005,179.800003,172.800003,186.650002,176.599998
75%,194.725006,167.075005,201.399998,201.874996,185.399994,162.824997,166.050003,177.699997,189.624996,180.900002,172.950001,188.224998,178.924995
max,196.000000,168.399994,202.000000,204.300003,186.300003,163.899994,168.100006,178.500000,189.899994,185.699997,175.699997,189.300003,179.500000